.movie {
  width: 310px;
  height: 460px;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 10vw;
}

.movie:hover {
  /* box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1); */
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

.movie-info {
  
}

.movie-info h3 {
  
}

.movie-year {
  color: yellow;
}